<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="output.css">
</head>
<body>
  <script src="https://cdn.tailwindcss.com"></script>
  <%- include('../partials/navbar') %>

  <header>
    <!-- <h1 class="header1 text-5xl ">welcome to Airbnb</h1> -->
    <!-- <p class="underline text-amber-300 text-2xl">The quick brown fox...</p>
    <ul>
      <% homeRegistered.forEach(data=>{ %>
       <li>
        <%= data.house %>
       </li>

     <% }) %>
 
    
    </ul> -->
    <div class="p-6">
      <center>
         <h1 class="text-3xl font-bold mb-6">Welcome to host home list</h1>

      </center>
 

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

    <% homeRegistered.forEach((home) => { %>

      <div class="border rounded-lg p-4 shadow">

        <img 
          src="<%= home.photoUrl %>" 
          alt="house image"
          class="w-full h-40 object-cover rounded mb-3"
        >

        <h2 class="text-xl font-semibold">
          <%= home.house %>
        </h2>

        <p class="text-gray-600">
          Location: <%= home.location %>
        </p>

        <p class="text-gray-600">
          Price: $<%= home.price %>
        </p>

        <p class="text-gray-600">
          Rating: ⭐ <%= home.rating %>
        </p>
        <div class="flex-col">
          <a href="/host/edit-home/<%= home._id %>?editing=true" class="bg-yellow-500 px-4 py-2 rounded hover:bg-yellow-600">Edit</a>
          <a href="/host/delete-home/<%= home._id %>">
               <button class="bg-red-500 px-4 py-2 rounded hover:bg-orange-600">Delete</button>

          </a>
       

        </div>

       

      </div>

    <% }) %>

  </div>
</div>

  </header>
  
  <!-- <main>
    <a href="/host/home">Home</a>

  </main> -->
    
  
</body>
</html>